* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font: 400 0.875em/1.5 Hind, sans-serif;
    color: #565655;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    width: 100%;
    height: auto;
}
button {
    border: 1px solid transparent;
    outline: none;
}

/**********HEADER**********/

/********** BLOCK-1**********/

header {
    position: relative;
}
.block1 {
    background-color: #ededed;
    padding: 10px 103px 14px 139px;
}
.contact-inf {
    float: left;
}
.phone {
    display: inline-block;
    margin-right: 26px;
    position: relative;
    top: 3px;
}
.address {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: 3px;
}
.town {
    display: inline-block;
    margin-right: 33px;
    background: #212121;
    color: #fff;
    border-radius: 3px;
    padding: 8px 11px 6px 14px;
}
.town__name {
    background-color: #212121;
    color: #fff;
    border-radius: 3px;
}
.phone,
.address {
    font-family: MyriadPro, sans-serif;
}
.address__name {
    word-spacing: -1.1px;
}
.town__icon,
.phone__icon,
.address__icon {
    display: inline-block;
    font-size: 22px;
}
.fa-phone,
.fa-location-arrow {
    color: #000;
}
.fa-angle-down{
    margin-left: 13px;
    font-size: 18px;
}

.social-icon {
    float: right;
}
.social-icon ul li {
    margin-left: 21.5px;
}
.social-icon ul {
    margin: 10px 24px 0 0;
}

/**********BLOCK-2**********/

.block2 {
    margin-bottom: 27px;
}
.block2 div {
    vertical-align: top;
}
.logo {
    display: inline-block;
    float: left;
    padding: 30px 0 0 132px;
}
.static {
    display: inline-block;
    float: right;
    padding: 43px 140px 0 0;
}
.static-inf {
    display: inline-block;
}
.static-inf:nth-child(2) {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    padding-right: 4px;
}
.static-inf:first-child {
    padding-right: 37px;
}
.static-inf div {
    display: inline-block;
    height: 100%;
}
.check {
    font-size: 20px;
    padding: 0 8px 0 17px;
}
.title {
    color: #000;
    font-weight: bold;
    margin: 4px 0 -2px 0;
}
.subtitle {
    color: #7a7a7a;
    font-family: 'MyriadPro', sans-serif;
    margin: 0;
    padding-left: 1px;
}

/**********BLOCK-3(NAVIGATION)**********/


.navigation {
    width: 100%;
    padding: 0 83px 0 123px;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    bottom: -99px;
    left: 0;
}
.touch-menu {
    display: none;
}
nav  {
    float: left;
}
nav li a {
    color: #fff;
    text-transform: uppercase;
    padding: 26px 17px 18px 13px;
    display: inline-block;
    font-family: "MyriadPro", sans-serif;
    border-bottom: 7px solid transparent;
}
nav li a:hover {
    border-bottom: 7px solid #bd2631;
}
.nav-item a {
    border-bottom: 7px solid #bd2631;
    padding-left: 20px;
}
.search {
    float: right;
    padding: 26px 64px 0 0;
}

/**********MAIN**********/

/**********BLOCK-3**********/

.block3 {
    height: 642px;
    background: #000 url(../img/a.png) right 0 no-repeat;
}
.button-left {
    height: inherit;
    background: transparent;
    display: inline-block;
    float: left;
    padding: 65px 54px 0 56px;
}
.button-right {
    height: inherit;
    background: transparent;
    display: inline-block;
    float: right;
    padding: 64px 16px 0 0;
}
.block3-1 {
    display: inline-block;
    float: left;
    font-family: 'MyriadPro', sans-serif;
    padding-top: 293px;
}
.block3-1-1 {
    color: #bd2631;
    margin: 0;
    font-size: 31px;
    line-height: 24px;
}
.block3-1-2 {
    color: #fff;
    margin: 0;
    font-size: 43px;
    line-height: 24px;
    font-family: 'Hind', sans-serif;
    padding: 23px 0 27px 0;
}
.block3-1-3 {
    color: #fff;
    margin: 0;
    font-family: "Hind", sans-serif;
    font-size: 24px;
    word-spacing: -1px;
    line-height: 18px;
}

/***********BLOCK-4***********/

.block4 {
    background-color: #bd2631;
    height: 127px;
    padding: 1.9% 0 0 10%;
}
.block4-1 {
    float: left;
    display: inline-block;
}
.block4-1-1 {
    color: #efd4d5;
    margin: 0 0 -6px;
    font-size: 30px;
    word-spacing: 2px;
    font-family: "Myriad Pro", sans-serif;
}
.block4-1-2 {
    color: #efd4d5;
    margin: 0;
    font-size: 24px;
    word-spacing: -1px;
    line-height: 30px;
}
.button-1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    margin: 0.9% 10.2% 0 0;
    font-weight: bold;
    float: right;
    display: inline-block;
    height: 50px;
    width: 10.9%;
}

/**********BLOCK-5 (em)**********/


.block5 {
    font-size: 0;
    margin: auto;
    width: 100%;
    height: 454px;
}
.product {
    display: inline-block;
    width: 51.31%;
    height: 454px;
    background: #000 url(../../surepower/img/b.png) 0 0/cover no-repeat;
    vertical-align: top;
}
.products {
    padding: 22% 12% 0 14.2%;
}
.title-img {
    color: #bd2631;
    font-size: 32.3px;
    margin: 0;
}
.description  {
    color: #fff;
    line-height: 30px;
    font-size: 14.9px;
    word-spacing: -0.8px;
    margin: 4.4% 0.5%;
}
.image-icon {
    display: inline-block;
    width: 48.69%;
    margin: auto;
    text-align: center;
}
.image-icon-image,
.image-icon-icon {
    height: 454px;
    display: inline-block;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    margin: 0;
    vertical-align: top;
}
.image-icon-image  {
    width: 52.65%;
}
.image-icon-icon {
    width: 47.35%;
}
.child1 {
    width: 100%;
}
.child2 {
    width: 100%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.child1 img,
.child2 img {
    max-width: 100%;
    width: auto;
    height: 100%;
}


/***********BLOCK-6**********/


.block6 {
    font-size: 0;
    height: 450px;
    margin: auto;
    width: 100%;
}
.block6 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.block6 .image-icon {
    width: 51.3%;
}
.block6 .product {
    width: 48.7%;
    height: 450px;
    background: #000 url(../img/g.png) 0 0/cover no-repeat;
    -moz-background-size: cover;
    -ms-background-size: cover;
}
.description  {
    color: #fff;
    line-height: 30px;
    font-size: 14.9px;
    word-spacing: -0.8px;
    margin: 6.1% 0.5%;
}
.block6 .image-icon-image {
    width: 50.21%;
}
.block6 .image-icon-icon {
    width: 49.79%;
}
.block6 .image-icon-image,
.block6 .image-icon-icon {
    height: 450px;
}

/**********BLOCK-7***********/

.block7 {
    font-size: 0;
    margin: auto;
    width: 100%;
    height: 454px;
}
.block7 img {
    width: auto;
    max-width: 100%;
    height: 100%;
}
.block7 .product {
    width: 51.31%;
    height: 454px;
    background: #000 url(../../surepower/img/h.png) 0 0/cover no-repeat;
}
.products {
    padding: 22% 12% 0 14.2%;
}
.title-img {
    color: #bd2631;
    font-size: 32.3px;
    margin: 0;
}
.description  {
    color: #fff;
    line-height: 30px;
    font-size: 14.9px;
    word-spacing: -0.8px;
    margin: 6.1% 0.5%;
}
.block7 .image-icon {
    width: 48.69%;
}
.block7 .image-icon-image,
.block7 .image-icon-icon {
    height: 454px;
}
.block7 .image-icon-image  {
    background-color: #bd2631;
    width: 52.8%;
}
.block7 .image-icon-icon {
    width: 47.2%;
}
.block7 .child2 {
    width: 100%;
}
.block7 .child1 {
    width: 100%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    height: auto;
}



/***********BLOCK-8**********/

.block8 {
    padding-left: 3.1em;
    padding-right: 2em;
    height: 462px;
    box-sizing: content-box;
}
.block8 div {
    display: inline-block;
    text-align: center;
    line-height: 2.2em;
    width: 33.3%;
    box-sizing: content-box;
    word-spacing: 0.1px;
}
.safe {
    background: url(../img/n.png) 53.5% 29.5% no-repeat,
                url(../img/k.png) 53.2% 22% no-repeat;
    float: left;
}
.safe h2 {
    padding-bottom: 0.3em;
}
.green {
    background: url(../img/l.png) 55.9% 29% no-repeat;
    float: left;
}.green h2 {
     padding-left: 1em;
 }
.green p {
    padding-left: 2em;
}
.ready {
    background: url(../img/o.png) 52% 29.9% no-repeat,
                url(../img/m.png) 49.5% 24.8% no-repeat;
    float: right;
}
.more-inf-1 {
    color: #bd2631;
    font-size: 2.57em;
    margin: 0;
    padding-top: 6.4em;
    padding-bottom: 0.5em;
}
.more-inf-2 {
    color: #000;
    font-size: 1.296em;
    margin: 0;
}

/***********BLOCK-9***********/


.block9 {
    width: 100%;
    height: 195px;
    background: #000 url(../img/p.png)  right 0  no-repeat;
}
.block9-1 {
    color: #fff;
    font-size: 2.57em;
    line-height: 0.8em;
    font-weight: normal;
    margin: 0;
    padding: 2.5em 0 2.14em 18.5em;
}

/***********BLOCK-10***********/

.block10 {
    height: 424px;
}
.image {
    display: inline-block;
    width: 20%;
    height: 352px;
    margin: 0;
    padding: 0;
    font-size: 0;
    float: left;
}
.explanation {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: bold;
    background-color: #bd2631;
    color: #fff;
    margin-left: -2px;
    padding-top: 22px;
    height: 71px;
}

/**********BLOCK-11**********/


.block11 {
    height: 201px;
    padding-left: 190px;
}
.emblem {
    display: inline-block;
    float: left;
    margin: 0;
    font-size: 0;
    padding: 67px 84px 0 0;
}

/**********FOOTER**********/

/**********BLOCK-12**********/

.block12 {
    height: 319px;
    background-color: #242424;
    padding-top: 62px;
    padding-left: 10.6rem;
    margin: 0 0 -1px 0;
    font-size: 0;
    box-sizing: content-box;
}
.block12-1,
.block12-2,
.block12-3,
.block12-4 {
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    border-right: 1px solid #353535;
    vertical-align: top;
}
.block12-1 {
    width: 20.4%;
    padding-left: 0.1rem;
    padding-right: 1.5rem;
    padding-bottom: 0.7%;;
}
.block12-2 {
    width: 23.32%;
    padding-left: 2.3rem;
    padding-bottom: 2.1%;
}
.block12-3 {
    width: 23.61%;
    padding-left: 2.7rem;
    padding-bottom: 4.6%;
}
.free {
    padding-top: 2.7em;
    padding-left: 0.3em;
}
.block12-4 {
    border-right: 1px solid transparent;
    width: 28.57%;
    padding-left: 2.4rem;
}
.block12-1-1 {
    color: #bd2631;
    font-size: 1.29em;
    line-height: 1.7em;
    margin: 0 0 1.39em 0;
}
.block12-1-2 {
    color: #fff;
    font-size: 0.857em;
    line-height: 1.4em;
    margin: 0 0 1.29em 0;
}
.contact {
    width: 41%;
}
.block12-4-1 {
    color: #bd2631;
    font-family: "MyriadPro", sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: -0.1rem 0.1rem 0 0;
}

/***********BLOCK-13***********/


.block13 {
    background-color: #131313;
    padding: 2.29em 11.2em 1.6em 12.27em;
}
.block13-1,
.block13-2 {
    color: #fff;
    font-size: 0.86em;
    font-weight: normal;
    line-height: 2.4em;
    margin: 0;
    display: inline-block;
}
.block13-1 {
    float: left;
}
.block13-2 {
    float: right;
}

/**********THE END**********/


/**********RESPONSIVE**********/

@media screen and (max-width: 1158px)and (min-width: 1052px){
    .block1 {
        padding-left: 15px;
        padding-right: 0;
    }
}
@media screen and (max-width: 1051px) {
    body {
        font-size: 1em;
    }
    .block1 div{
        display: block;
        float: none;
    }
    .town {
        width: 24%;
    }
    .logo,
    .static {
        float: none;
        display: block;
        text-align: center;
    }
    .logo {
        padding-left: 0;
    }
    .static {
        padding-right: 0;
    }
    .block2 img {
        width: 50%;
        height: auto;
    }
    .navigation {
        font-size: 0.7em;
        bottom: -94px;
    }
    .block3 {
         background-size: cover;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         height: 550px;
     }
    .block4-1-1 {
        font-size: 1.7em;
    }
    .block4-1-2 {
        font-size: 1.1em;
    }
    .button-1 {
        width: 105px;
    }
}
@media screen and (max-width: 934px) {
    .block3-1-2 {
        font-size: 30px;
    }
    .block3-1-3 {
        font-size: 21px;
    }
}
@media screen and (max-width: 895px) {
    .block3 {
        height: 400px;
    }
    .nav-bar {
        display: none;
    }
    .nav-bar li {
        float: none;
    }
    .touch-menu {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .block3 {
        height: 200px;
    }
}
/*
@media screen and (max-width:1160px)  {
    .block1 {
        text-align: center;
    }
    .block1 div {
        float: none;
    }
    .block5-1,
    .block6-2,
    .block7-1 {
        padding-left: 58px;
        padding-top: 25px;
    }
    .block12 {
         padding-left: 3rem;
     }
}

@media screen and (max-width:1095px) {
    .block2 div {
        float: none;
    }
    .logo {
        padding: 0;
    }
    .block10-2-1 {
        font-size: 0.99em;
    }
    .block4-1-1,
    .block4-1-2 {
        font-size: 20px;
    }
    .button-1 {
        margin: 37px 76px 37px 20px;
    }
    .block5, .block6, .block7 {
        height: 350px;
    }
    .block8 {
        height: 385px;
    }
    .block8 div {
        float: none;
        width: 100%;
    }
    .safe {
        background: url(../img/n.png) 20% 58%/5% no-repeat,
                    url(../img/k.png) 19% 77%/8% no-repeat;
    }
    .green {
        background: url(../img/l.png) 4% 22%/9% no-repeat;
    }
    .green h2 {
        padding-left: 218px;
    }
    .ready {
        background: url(../img/o.png) 15% 25% /6% no-repeat,
                    url(../img/m.png) 13% -3%/ 10% no-repeat;
    }
    .more-inf-1 {
        display: inline-block;
        padding: 1.2em 2.4em 0 6.5em;
    }
    .more-inf-2 {
        display: inline-block;
        padding-bottom: 23px;
        padding-top: 5px;
    }
}
@media screen and (max-width:970px) {
    .block1 {
        padding: 10px 0 14px 0;
    }
    .block2 {
        margin: 34px 15px 27px 107px;
    }
    .block2 div {
        text-align: center;
    }
    .static {
        padding: 0;
    }
    .navigation {
        padding: 0;
    }
    .block3-1-2 {
        font-size: 31px;
    }
    .block3-1-3 {
        margin: 0;
    }
    .block5, .block6, .block7 {
         height: 250px;
    }
    .block8 {
        padding: 0;
        height: 348px;
    }
    .safe,
    .green,
    .ready{
        background: none;
    }
    .green h2 {
        padding-left: 0.9em;
    }
    .more-inf-1 {
        display: inline-block;
        padding: 1.2em 0.8em 0 0;
    }
    .block9 {
        background: url(../img/p.png) right 0 no-repeat,
                    url(../img/q.png) 6% 82% no-repeat,
                    url(../img/r.png) 0 0 no-repeat;
    }
    .block9-1 {
        padding: 1.5em 0 4.14em 0.5em;
    }
    .block10-1 div {
        height: 240px;
    }
    .block13 {
        padding: 2.29em 2.2em 1.6em 1.27em;
    }
}
@media screen and (max-width:815px) {
    .navigation {
        bottom: -79px;
    }
    nav li a {
        padding: 14px 9px 8px 9px;
        font-size: 11px;
    }
    .search {
        padding: 26px 46px 0 0;
    }
    .button-left {
        padding: 154px 67px 14px 0;
    }
    .block3-1-1 {
        margin: 116px 0 0 -4px;
    }
    .block3-1-2 {
        font-size: 24px;
    }
    .block3-1-3 {
        font-size: 19px;
        margin-bottom: 35px;
    }
    .button-right {
        background: url(../img/button-right.png) center center /contain no-repeat;
        padding: 11px 57px 27px 11px;
        margin-bottom: 9px;
        margin-top: 122px;
    }

    .block4-1 {
        margin: 27px 0 32px 51px;
    }
    .block5-1,
    .block6-2,
    .block7-1 {
        padding-left: 24px;
        line-height: 0;
    }
    .block10-1 div {
        height: 171px;
    }
    .block11-1 {
        background: url(../img/wq.png) 83% 49%/40% no-repeat;
    }
    .block11-2 {
        background: url(../img/ww.png) 41% 48%/86% no-repeat;
        padding: 52px 0;
    }
    .block11-3 {
        background: url(../img/we.png) 56% 48%/51% no-repeat;
    }
    .block11-4 {
        background: url(../img/wr.png) 12% 48%/80% no-repeat;
    }
    .block11-5 {
        background: url(../img/wt.png) 13% 48.6%/35% no-repeat;
    }
    .block12 div {
        width: 100%;
        padding: 0 30px 0 0;
    }
    .block13-1 {
        float: none;
        display: block;
    }
    .block13-2 {
        float: none;
        display: block;
    }
}
    @media screen and (max-width:625px) {
    .block1 div {
        display: block;
    }
    .block2 div {
        display: block;
    }
    div .fa {
        font-size: 1em;
    }
    .social-icon .fa {
         font-size: 3em;
     }
    .social-icon ul {
        padding: 2em 0 2em 0;
    }
    .logo img {
        width: 100%;
        height: auto;
    }
}