* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font: 400 0.875em/1.5 Hind, sans-serif;
    color: #565655;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #333;
}

/**********HEADER**********/

/********** BLOCK-1**********/

header {
    position: relative;
}
.block1 {
    background-color: #ededed;
    padding: 10px 103px 14px 139px;
}
.contact-inf {
    float: left;
}
.phone {
    display: inline-block;
    margin-right: 26px;
    position: relative;
    top: 3px;
}
.address {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: 3px;
}
.town {
    display: inline-block;
    margin-right: 33px;
    background: #212121;
    color: #fff;
    border-radius: 3px;
    padding: 8px 11px 6px 14px;
}
.town__name {
    background-color: #212121;
    color: #fff;
    border-radius: 3px;
}
.phone,
.address {
    font-family: MyriadPro, sans-serif;
}
.address__name {
    word-spacing: -1.1px;
}
.town__icon,
.phone__icon,
.address__icon {
    display: inline-block;
    font-size: 22px;
}
.fa-phone,
.fa-location-arrow {
    color: #000;
}
.fa-angle-down{
    margin-left: 13px;
    font-size: 18px;
}

.social-icon {
    float: right;
}
.social-icon ul li {
    margin-left: 21.5px;
}
.social-icon ul {
    margin: 10px 39px 0 0;
}

/**********BLOCK-2**********/

.block2 {
    margin-bottom: 27px;
}
.block2 div {
    display: inline-block;
    vertical-align: top;
}
.logo {
    float: left;
    padding: 30px 0 0 132px;
}
.static {
    float: right;
    padding: 43px 140px 0 0;
}
.static-inf:nth-child(2) {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    padding-right: 4px;
}
.static-inf:first-child {
    padding-right: 37px;
}
.static-inf div {
    display: inline-block;
    height: 100%;
}
.check {
    font-size: 20px;
    padding: 0 8px 0 17px;
}
.title {
    color: #000;
    font-weight: bold;
    margin: 4px 0 -2px 0;
}
.subtitle {
    color: #7a7a7a;
    font-family: 'MyriadPro', sans-serif;
    margin: 0;
    padding-left: 1px;
}

/**********BLOCK-3(NAVIGATION)**********/


.navigation {
    width: 100%;
    padding: 0 83px 0 123px;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    bottom: -99px;
    left: 0;
}
nav  {
    float: left;
}
nav li a {
    color: #fff;
    text-transform: uppercase;
    padding: 26px 17px 18px 13px;
    display: inline-block;
    font-family: "MyriadPro", sans-serif;
    border-bottom: 7px solid transparent;
}
nav li a:hover {
    border-bottom: 7px solid #bd2631;
}
.nav-item a {
    border-bottom: 7px solid #bd2631;
    padding-left: 20px;
}
.search {
    float: right;
    padding: 26px 64px 0 0;
}

/**********MAIN**********/

/**********BLOCK-3**********/

.block3 {
    background: #000 url(../img/a.png) right 0 no-repeat;
}
.button-left {
    display: inline-block;
    float: left;
    background: transparent url(../img/button-left.png) center bottom /contain no-repeat;
    -webkit-background-size: 23px;
    background-size: 23px;
    padding: 357px 138px 14px 0;
    border: 1px solid transparent;
    outline: none;
}
.button-right {

    display: inline-block;
    float: right;
    background: transparent url(../img/button-right.png) center 331px /contain no-repeat;
    -webkit-background-size: 23px;
    background-size: 23px;
    border: 1px solid transparent;
    outline: none;
    padding: 300px 57px 340px 0;
}
.block3-1 {
    display: inline-block;
    float: left;
    font-family: 'MyriadPro', sans-serif;
}
.block3-1-1 {
    color: #bd2631;
    margin: 295px 0 0 -4px;
    font-size: 31px;
    line-height: 24px;
}
.block3-1-2 {
    color: #fff;
    margin: 24px 0 24px -7px;
    font-size: 43px;
    line-height: 24px;
    font-family: 'Hind', sans-serif;
}
.block3-1-3 {
    color: #fff;
    margin: 0 151px 0 -7px;
    font-family: "Hind", sans-serif;
    font-size: 24px;
    word-spacing: -1px;
    line-height: 18px;
}

/***********BLOCK-4***********/

.block4 {
    background-color: #bd2631;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.block4-1 {
    margin: 27px 0 32px 141px;
}
.block4-1-1 {
    color: #efd4d5;
    margin: 0 0 -6px;
    font-size: 30px;
    word-spacing: 2px;
    font-family: "Myriad Pro", sans-serif;
}
.block4-1-2 {
    color: #efd4d5;
    margin: 0;
    font-size: 24px;
    word-spacing: -1px;
    line-height: 30px;
}
.button-1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
    outline: none;
    padding: 0 29px 0 27px;
    margin: 37px 0 39px 297px;
    font-weight: bold;
}

/**********BLOCK-5 (em)**********/


.block5,
.block6,
.block7 {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.block5-1 {
    background: #000 url(../img/b.png) 0 0/cover no-repeat;
}
.products {
    color: #bd2631;
    font-size: 2.15em;
}
.products-inf {
    color: #fff;
    line-height: 2.143em;
}
.block5-1-1 {
    margin: 5.14em 0 0 3.3em;
}
.block5-1-2 {
    margin: 2em 7em 9.7em 7.29em;
}
.block5-2 {
    background: #000 url(../img/c.png) 0 0/cover no-repeat;
    padding: 0 12.7em;
}
.block5-3 {
    background: #fff url(../img/d.png) 7em 12.3em no-repeat;
    padding: 0 0 0 23.92em;
}

/***********BLOCK-6**********/


.block6-1 {
    background: #000 url(../img/f.png) 0 0/cover no-repeat;
    padding: 16.1em 12.7em;
}
.block6-2 {
    background: #fff url(../img/e.png) 7.3em 10.7em no-repeat;
    padding: 0 12.6em;
}
.block6-3 {
    background: #000 url(../img/g.png) 0 0/cover no-repeat;
    padding: 8.5em 6.5em 0 7.4em;
}

/**********BLOCK-7***********/


.block7-1 {
    background: #000 url(../img/h.png) 0 0/cover no-repeat;
    padding: 9em 5.8em 10.7em 8.4em;
}
.block7-2 {
    background: #bd2631 url(../img/i.png) 8.9em 10.6em no-repeat;
    padding: 0 12.72em;
}
.block7-3 {
    background: #000 url(../img/j.png) 0 0/100% 100% no-repeat;
    padding: 0 11.92em;
}

/***********BLOCK-8**********/

.block8 div {
    display: inline-block;
    text-align: center;
    line-height: 2.2em;
    padding: 16.4% 0 7.2% 6%;
}
.safe {
    background: url(../img/n.png) 63.6% 22% no-repeat,
                url(../img/k.png) 64% 15% no-repeat;
    float: left;
}
.green {
    background: url(../img/l.png) 61% 20% no-repeat;
    float: left;
}
.block8 .ready {
    background: url(../img/o.png) 43.5% 23%  no-repeat,
                url(../img/m.png) 39% 18%  no-repeat;
    float: right;
    padding: 16.5% 4.5% 7% 0;
}
.more-inf-1 {
    color: #bd2631;
    font-size: 2.57em;
    margin: 0;
}
.more-inf-2 {
    color: #000;
    font-size: 1.296em;
}

/***********BLOCK-9***********/


.block9 {
    width: 100%;
    background: url(../img/p.png)  right 0  no-repeat,
                url(../img/q.png)  23.39em 3.9em  no-repeat,
                url(../img/r.png)  0 0  no-repeat;
}
.block9-1 {
    color: #fff;
    font-size: 2.57em;
    line-height: 0.8em;
    font-weight: normal;
    margin: 0;
    padding: 2.4em 0 2.19em 18.5em;
}

/***********BLOCK-10***********/


.block10-1,
.block10-2,
.block11 {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.block10-1 div {
    padding: 12.58% 10%;
}
.block10-2 {
    background-color: #bd2631;
    color: #fff;
}
.block10-2-1 {
    font-size: 1.29em;
    line-height: 1.7em;
    font-weight: bold;
    margin: 0 auto;
    padding: 1.2em 0 1.1em 0;
}
.block10-2-1:first-child {
    margin: 0 0.3em 0 1.79em;
}
.block10-1-1 {
    background:  url(../img/aa.png) 0 0 no-repeat;
}
.block10-1-2 {
    background:  url(../img/ab.png) 0 0 no-repeat;
}
.block10-1-3 {
    background:  url(../img/ac.png) 0 0 no-repeat;
}
.block10-1-4 {
    background:  url(../img/uuuuuuuuuuu.png) 0 0 no-repeat;
}
.block10-1-5 {
    background:  url(../img/ae.png) 0 0 no-repeat;
}

/**********BLOCK-11**********/


.block11 {
    /*padding: 4.9em 0 5.1em 13.5em;*/
    padding: 4.8% 0% 5.1% 13.5%;
}
.block11-1:nth-child(2) {
    padding-left: 6em;
    padding-right: 7em;
}
.block11-1:nth-child(4) {
    padding-left: 4.6em;
    padding-right: 4.5em;
}

/**********FOOTER**********/

/**********BLOCK-12**********/

.block12 {
    background-color: #242424;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    padding: 0 12em 2.8em 10.79em;
}
.block12-1,
.block12-2,
.block12-3,
.block12-4 {
    border-right: 1px solid #353535;
    width: 23%;
}
.block12-1 {
    margin: 4.29em 0 0 1.5em;
    padding: 0 1.58em 0 0;
}
.block12-2 {
    margin: 4.2em 0 0 2.6em;
}
.block12-3 {
    margin: 4.3em 0 0 4.23em;
}
.block12-4 {
    border-right: 1px solid transparent;
    margin: 0;
    padding: 4.36em 0 0 2.94em;
}
.block12-1-1 {
    color: #bd2631;
    font-size: 1.29em;
    line-height: 1.7em;
    margin: 0 0 1.39em 0;
}
.block12-1-2 {
    color: #fff;
    font-size: 0.857em;
    line-height: 1.4em;
    margin: 0 0 1.39em 0;
}
.block12-4-1 {
    color: #bd2631;
    font-family: "MyriadPro", sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0 10px;
}

/***********BLOCK-13***********/


.block13 {
    background-color: #131313;
    padding: 2.29em 11.2em 1.7em 12.27em;
}
.block13-1,
.block13-2 {
    color: #fff;
    font-size: 0.86em;
    font-weight: normal;
    line-height: 2.4em;
    margin: 0;
    display: inline-block;
}
.block13-1 {
    float: left;
}
.block13-2 {
    float: right;
}

/**********THE END**********/


/**********RESPONSIVE**********/

@media screen and (max-width:1060px)  {
    body {
        font-size: 18px;
    }
    .logo,
    .static-inf {
        float: none;
    }
    .logo-section {
        text-align: center;
    }
}